<div class="dlabnav border-right">
    <div class="dlabnav-scroll">
        <p class="menu-title style-1">Main Menu</p>
        <ul class="metismenu" id="menu">
            <li>
                <a href="home" class="" aria-expanded="false">
                    <i class="bi bi-house"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="menu" class="" aria-expanded="false">
                    <i class="bi bi-journal"></i>
                    <span class="nav-text">Menu</span>
                </a>
            </li>
            <li class="has-arrow">
                <a class="" aria-expanded="false">
                    <i class="bi bi-grid"></i>
                    <span class="nav-text">Category</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="list-bakery">Bakery</a></li>
                    <li><a href="list-burger">Burger</a></li>
                    <li><a href="list-beverage">Beverage</a></li>
                    <li><a href="list-chicken">Chicken</a></li>
                    <li><a href="list-pizza">Pizza</a></li>	
                </ul>
            </li>
            <li>
                <a href="favorite-menu" class="" aria-expanded="false">
                    <i class="bi bi-heart"></i>
                    <span class="nav-text">Favorite</span>
                </a>
            </li>
            <li>
                <a href="food-order" class="" aria-expanded="false">
                    <i class="bi bi-egg-fried"></i>
                    <span class="nav-text">Food order</span>
                </a>
            </li>
            <li>
                <a href="order-history" class="" aria-expanded="false">
                    <i class="bi bi-clock"></i>
                    <span class="nav-text">Order history</span>
                </a>
            </li>

            <li class="menu-title">Other</li>
            <li>
                <a href="profile" class="" aria-expanded="false">
                    <i class="bi bi-person"></i>
                    <span class="nav-text">Profile</span>
                </a>
            </li>
            <li><a href="sign_in" class="" aria-expanded="false">
                <i class="bi bi-box-arrow-right"></i>
                <span class="nav-text">Logout</span>
            </a>
            </li>
        </ul>
    </div>
</div>
